<DOCTYPE html>
<html>
    <head>
        <title>Photo Point</title>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" type = "text/css" href = "/CSS/style.css"/>
        <link rel = "icon" type = "image/jpg" href ="/Favicon/logo.jpg"/>
    </head>
    <body>
        <nav class = "nav">
            <div class = "nav_box_1">
                <a href = "/">Photo Point</a>
            </div>
            <div class = "nav_box_2">
                <h4 class = "nav_cut"><i class = "fa fa-times"></i></h4>
                <a href = "/user/register">Register</a>
                <a href = "/leaderboard">Leaderboard</a>
                {{#if isLoggedIn}}
                    <a href = "/photos/create">Aadd a Photo</a>
                    <a href = "/user/logout">Logout</a>
                    <a href = "/user/{{crntUser.ID}}/dashboard">Dashboard</a>
                {{else}}
                    <a href = "/user/login">Log In</a>
                {{/if}}
                <a href = "/photos/show">All Photos</a>
            </div>
            <div class = "brgr">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        {{#if msg }}
            {{#if msg.type}}
                <h4 class = "success">{{msg.text}}</h4>
            {{else}}
                <h4 class = "error">{{msg.text}}</h4>
            {{/if}}
        {{/if}}
        <h4 class = "success msg"> <i class = "fa fa-check scs_check"></i>some text <i class = "fa fa-times msg_cut"></i></h4>
        {{{body}}}
        <footer class = "footer">
            <h4>&copy; 2020. Rajarshi Saha</h4>
        </footer>
{{> nav }}