<div class = "photo_show">
    <div class = "photo_show_box_1">
        <h2><a href = "/user/{{photo.userDetails.user_id}}/public"><b><i>{{photo.userDetails.username}}</a></i></b></h2>
        <div>
            {{#if photo.follow}}
                <h4><a href = "/user/{{photo.userDetails.user_id}}/follow">Follow</a></h4>
            {{/if}}
            <h4><a href = "/photo/{{photo.id}}/collection">Add to Collection</a></h4>
        </div>
    </div>
    <div class = "photo_show_box_2">
        <div class = "image_general">
            <div class = "image_box">
                <img src = "{{photo.url}}" alt = "error"/> 
            </div>
            <div class = "photo_title">
                <h3>{{photo.title}}</h3>
                <p>
                    {{photo.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Maxime a eaque magni culpa fugit ad exercitationem quod adipisci dignissimos 
                    atque odio tempora nobis recusandae reprehenderit, eveniet doloribus! Excepturi, quidem eligendi.
                </p>
            </div>
            <div class = "photo_lks_vws">
                <div class = "photo_lks">
                    {{#if photo.like}}
                        <h4 ><a href = "/photo/{{photo.id}}/like"><i class = "fa fa-heart like"></i></a></h4>
                    {{else}}
                        <h4 ><i class = "fa fa-heart liked"></i></h4>
                    {{/if}}
                    <h4 class = "likes">{{photo.likes}}</h4>
                </div>
                <h4 class = "views"><i class = "fa fa-eye"></i>{{photo.views}}</h4>
            </div>
            
        </div>
    </div>
    <div class = "comments_box">
        <div class = "comment_head">
            <h3>Comments</h3>
            <a href = "/photo/{{photo.id}}/comment" class = "btn">Add a Comment</a>
        </div>
        <div class = "comments_container">
            {{#if photo.comments}}
                {{#each photo.comments}}
                    <div class = "comment">
                        <h4>{{comment}}</h4>
                        <h5><i>By: {{userDetails.username}}</h5></i>
                    </div>
                {{/each}}
            {{else}}  
            <div class = "comment_empty">
                <h4>No Comments yet ...</h4>
            </div>
            {{/if}}
        </div>
        
    </div>
</div>